{% block form %}
    <script>
        // wait for the DOM to be loaded 
        var options = {
            beforeSubmit: beforeSubmit, // pre-submit callback 
            error: showError,
            success: succes
        };
        function beforeSubmit(formData, jqForm, options) {
            $('#div_carga').show();
        }
        function succes(responseText, statusText, xhr, $form) {
        {% if is_granted('ROLE_GESTOR') %}
                $('#{{form.cliente.vars.id}}').attr('disabled', true);
        {% endif %}
                $('#div_carga').hide();
            }
            function showError() {
                $('#div_carga').hide();
                swal({
                    title: "Ocurrio un error",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Aceptar"
                });
            }
            function resetForm(button) {
                var resetButton = $(button);
                var form = resetButton.parents('form').eq(0);
                $(form).find('input,select').each(function (k, v) {
                    var id = $(this).attr('id');
                    if (id.split('token').length < 2 {% if is_granted('ROLE_GESTOR') %} && id !== "{{form.cliente.vars.id}}"{% endif %}) {
                        if ($(this).data('select2')) {
                            $(this).select2("val", "");
                        } else {
                            $(this).val('');
                        }
                    }
                });
                $(form).ajaxSubmit(options);
            }
    </script> 
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}

    {% set url = 'residuosDisposicion' %}

    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form
            {% if admin_pool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
            id="form_tipos"
            role="form"
            action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
            method="POST"
            {#    {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}#}
            >
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        Reporte de tipos de residuos y sus disposiciones finales
                    </h4>
                </div>
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        <div class="form-group" id="sonata-ba-field-container-s57bdc5589c151_usuario">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class=" sonata-ba-field">
                                        {{form_row(form.fecha_inicial)}}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" sonata-ba-field">
                                        {{form_row(form.fecha_final)}}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" sonata-ba-field">
                                        {{form_row(form.tipo_residuo)}}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" sonata-ba-field">
                                        {{form_row(form.cliente)}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class=" sonata-ba-field">
                                        <button class="btn btn-primary" type="submit" name="generar" value="true" style="margin-top: 5%;"><i class="fa fa-signal"></i> Generar</button>
                                        <button class="btn btn-danger" type="submit" name="pdf" value="true" style="margin-top: 5%;" disabled><i class="fa fa-file-pdf-o"></i> PDF</button>
                                        <button class="btn btn-success" type="submit" name="excel" value="true" style="margin-top: 5%;" disabled><i class="fa fa-file-excel-o"></i> Excel</button>
                                        <a class="btn btn-default" name="restablecer" style="margin-top: 5%;" onclick="resetForm(this);">Restablecer</a>
                                    </div>
                                </div>
                                <div id="graficaTipos">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
        <script>
            $('#form_tipos').submit(function () {
                var valTipo = $('#r_residuos_disposicion_form_tipo_residuo').val();
                if (valTipo) {
                    $('#{{form.cliente.vars.id}}').removeAttr('disabled');
                    $('#r_residuos_disposicion_form_tipo_residuo').parent().removeClass('has-error');
                    var $btn = $(document.activeElement);
                    if (
                            /* there is an activeElement at all */
                            $btn.length &&
                            /* it's a child of the form */
                            $(this).has($btn) &&
                            /* it's really a submit element */
                            $btn.is('button[type="submit"], input[type="submit"], input[type="image"]') &&
                            /* it has a "name" attribute */
                            $btn.is('[name]') &&
                            ($btn.attr('name') == "pdf" || $btn.attr('name') == "excel")
                            ) {
                    } else {
                        options.target = '#graficaTipos';
                        $('#form_tipos').ajaxSubmit(options);
                        return false;
                    }
                } else {
                    $('#r_residuos_disposicion_form_tipo_residuo').parent().addClass('has-error');
                    return false;
                }
            });
        </script>
    {% endif%}
    {{ sonata_block_render_event('sonata.admin.edit.form.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}
