<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChartEconomico);
    function drawChartEconomico() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Tipos de residuos');
        dataTable.addColumn('number', 'Precio');
        dataTable.addColumn({type: 'string', role: 'tooltip'});
        dataTable.addColumn({type: 'string', role: 'style'});
        dataTable.addRows([
    {% for tipo in datos %}
                ['{{tipo.nombre}}',{{tipo.precio}} , '{{tipo.nombre}} : ${{tipo.precio|number_format(3, ',', '.')}}', '#{{tipo.color}}'],
    {% endfor %}
            ]);
            var options = {
                title: '{{titulo}}',
                hAxis: {
                    title: 'Tipos de residuos',
                },
                vAxis: {
                    title: 'Total',
                },
                animation: {
                    duration: 1000,
                    easing: 'out',
                    startup: true
                },
                legend: {position: 'none'}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('{{nombre_grafica}}'));
            google.visualization.events.addListener(chart, 'ready',
                    function () {
                        $('#form_economico').find('#r_detallado_economico_form_imagen_grafica').val(chart.getImageURI());
                        $('#form_economico').find('button[name="excel"]').eq(0).removeAttr('disabled');
                        $('#form_economico').find('button[name="pdf"]').eq(0).removeAttr('disabled');
                    });
            chart.draw(dataTable, options);
        }
        $(window).resize(function () {
            drawChartEconomico();
        });
</script>
<div class="col-md-12">
    <div id="{{nombre_grafica}}" style="width: 100%; height: 400px; margin: 0 auto"></div>
</div>
<div class="col-md-12">
    <table class="table table-bordered" style="width:20%">
        <thead>
            <tr>
                <th>Tipo de residuo</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            {% for tipo in datos %}
                <tr>
                    <td>{{tipo.nombre}}</td>
                    <td>$<span class="peso">{{tipo.precio|number_format(3, ',', '.')}}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>